QMainWindow {
    background-color: #000000
}

QLineEdit:hover {
    background-color: #00FF00;
    color: #FF0000;
}

QLineEdit[highlighted="true"] {
    background-color: #0000FF
}


QLineEdit[highlighted="false"] {
    background-color: #FFFFFF
}
